{% extends 'layouts/base.html' %}


{% block content %}
<h1>About</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio non cum suscipit nemo praesentium aut unde,
    officiis explicabo laborum natus a, expedita perspiciatis ad repellendus reprehenderit? Deserunt dignissimos itaque,
    doloribus ad vel qui exercitationem enim. Dolore porro maxime molestias iusto! Fuga quia vero temporibus harum cum.
    Officiis eligendi accusantium quis blanditiis molestiae recusandae voluptates molestias vitae placeat amet ducimus
    doloremque velit maiores reprehenderit adipisci minus ipsa sunt, ipsum nihil minima? Blanditiis iure molestias
    optio, reprehenderit ut similique illum, dicta, laborum possimus voluptates aspernatur provident! Nesciunt
    repellendus iste harum quia porro nostrum provident accusantium itaque laborum, quaerat nam, unde aut adipisci.</p>
{% endblock %}